@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

* {
    font-family: outfit;
} 
 
.prata-regular {
    font-family: "prata", serif;
    font-weight: 400;
    font-style: normal;
} 


html {
    scroll-behavior: smooth;
  }

  @keyframes rotateReact {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotateReact {
    animation: rotateReact 10s linear infinite;
  }
  

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spin-slow {
    animation: spin-slow 8s linear infinite;
  }
  
  @keyframes textGradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
 
  /* .animate-text {
    background: linear-gradient(
      190deg,
     
#efefef, 
#000000, 
#ffffff, 
#000000, 
#ffffff  


    );
    background-size: 200% 200%;
    animation: textGradientAnimation 4s ease infinite ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }  */
  
 .topic_head
  {
    font-family: "PT Serif", serif;
    font-weight: 700;
    /* font-style: italic; */
  }

  @keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Style for the scrollbar */
::-webkit-scrollbar {
  width: 4px;  
}

::-webkit-scrollbar-thumb {
  background-color: #000000;  
}


@layer utilities {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .typing-animation {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
  }

  .animate-cursor {
    animation: blink 0.75s step-end infinite;
  }
}
